<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comment">
            <h2><span jhiTranslate="gatewayApp.socialComment.detail.title">Comment</span> {{comment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.socialComment.user">User</span></dt>
                <dd>
                    <span>{{comment.user}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.socialComment.text">Text</span></dt>
                <dd>
                    <span>{{comment.text}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.socialComment.createdOn">Created On</span></dt>
                <dd>
                    <span>{{comment.createdOn}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.socialComment.post">Post</span></dt>
                <dd>
                    <div *ngIf="comment.postId">
                        <a [routerLink]="['/post', comment.postId, 'view']">{{comment.postId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comment', comment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
