<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="like">
            <h2><span jhiTranslate="gatewayApp.socialLike.detail.title">Like</span> {{like.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.socialLike.user">User</span></dt>
                <dd>
                    <span>{{like.user}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.socialLike.post">Post</span></dt>
                <dd>
                    <div *ngIf="like.postId">
                        <a [routerLink]="['/post', like.postId, 'view']">{{like.postId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/like', like.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
