<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="photo">
            <h2><span jhiTranslate="gatewayApp.filestorePhoto.detail.title">Photo</span> {{photo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.filestorePhoto.content">Content</span></dt>
                <dd>
                    <div *ngIf="photo.content">
                        <a (click)="openFile(photo.contentContentType, photo.content)">
                            <img [src]="'data:' + photo.contentContentType + ';base64,' + photo.content" style="max-width: 100%;" alt="photo image"/>
                        </a>
                        {{photo.contentContentType}}, {{byteSize(photo.content)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/photo', photo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
